@charset "utf-8";
/* CSS Document */
td { width:30% }
td + td { width:70%; }
.required { color:red; font-size:10px; }

.compatible, .not-compatible {
	text-align: center;
	color: #333;
	margin: 10px 6px 3px 6px;
	padding: 3px;
}

.not-compatible {
	background: #ffcccc;
	border:1px solid #ff6666;
}

/* Pour le modal */

.modal p {
	text-align: left;	
}

.modal form {
	display: inline;	
}